<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    GOOD JOB!!  

    

    
    </p>
      <pre>
        Thank you for visiting www.Blaze305.com
        You have successfully contacted your legislators.
    </pre>
    </p>
    
    Best Regards, <br />
    -blaze staff
    <br />
    
  </body>
</html>