@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$small-screen: 500px;
$medium-screen: 600px;
$large-screen: 900px;


$handheld: 7680px;

$switch: new-breakpoint(max-width 550px);
$mobile: new-breakpoint(max-width 650px);
$tablet: new-breakpoint(max-width 1000px);
$small-screen-up: new-breakpoint(max-width $small-screen 4);

//$medium-screen-up: new-breakpoint(max-width $small-screen 4);
//$large-screen-up: new-breakpoint(min-width $large-screen 12);
