<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Feedback Report</h1>
    <h2> feedback from: <%= @feedback.name%> </h2>
    <h2> reply email: <%= @feedback.email%> </h2>
    
    
    <h3>message:</h3>
    <p>
      <%= @feedback.body %>.<br />
    </p>
    
    
    -peace out bitches.
    
  </body>
</html>