/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$green1: #2fd13e
$green2: #269630
$green3: #407132
$offwhite: #e0f2e6

$myblack: #1A1B20
$mypink: #C43088

$green_light: tint(#E6F5EB, 95%)
$green_dark: tint(#19A347, 14%)
$green_base: #009933
$grays: #CACABC
#navbox
//	a:link
//		color: $offwhite !important
//	a:visited 
//		color: $offwhite !important
//	a:hover 
//		color: #39D447 !important
//	//a:active
//	//	color: #C43088


//a:focus, a:active, a:link, a:visited
//	color: #004508 !important
//a:hover
//	color: #07B01B !important
@import 'bourbon/bourbon'
@import 'normalize'

input[type=submit], button
	background-color: $green3 !important
	color: $offwhite !important


	

#go_mini:hover, input[type=submit]:hover
	background-color: #479630 !important

#email_mini:focus, #feedback_name:focus, #feedback_email:focus, #feedback_body:focus, input#message:focus, #lookup_address:focus, #lookup_city:focus, #lookup_zip:focus, input:focus
	border-color: $green2


@import 'grid-settings'
@import 'neat'
@import 'base/base'
@import 'engage'
@import 'articles'
@import 'lookups'
@import 'comments'
@import 'footer'
@import 'chats'
@import 'feedbacks'
@import 'progress'
@import 'devise'




html, body
	height: 100%

#mainwrapper
	min-height: 100%

h1 h2 h3
  
  
	text-shadow: 2px 2px 5px #888888
h1
	//font-weight: bold
	//font-size: 2.25em  
h2
	//font-size: 1.1em
	clear:both


/*opera and IE fix for sticky footer*/
//body:before
//	content: ""
//	height: 100%
//	float: left
//	width: 0
//	margin-top: -32767px


#path42:hover
	fill: $green1 !important

#path38:hover
	fill: $green2 !important