<p>Thank you for joining Blaze305!</p>

<p>Please click the link below to confirm your account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>


